<html ng-app="mso">

<head>
    <meta charset="UTF-8">
    <title>My Sweet Organizr</title>
    <!--Style Components-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
</head>

<body ng-controller="TodoController as tc">
    <!--Site Container-->
    <div class="container-fluid">

        <div class="h1">My Sweet Organizr</div>
        <div class="h3">To Do List: </div>
        <div class="row">
            <ul class="list-group col-xs-6">
                <li class="list-group-item" ng-repeat="currentItem in tc.list track by $index">{{currentItem.task}} - {{currentItem.time | date: 'shortTime'}}<span class="badge" ng-click="tc.removeEvent($index)">X</span></li>
            </ul>
        </div>
        <div class="row">
            <form class="form" ng-submit="tc.addEvent(tc.myEvent)">
                <div class="form-group col-xs-2">
                    <label for=""></label>
                    <input class="form-control" type="text" placeholder="Task" ng-model="tc.myEvent.task">
                </div>
                <div class="form-group col-xs-2">
                    <label for=""></label>
                    <input class="form-control" type="time" placeholder="When to do it" ng-model="tc.myEvent.time">
                </div>
                <button class="btn btn-default col-xs-2" type="submit">Add to ToDo list</button>
            </form>
        </div>
        <!--Close Site Container-->
    </div>
    <!--Load Libraries-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <!--Load Application-->
    <script src="app/app.js"></script>
    <script src="app/components/todo/todo-controller.js"></script>
</body>

</html>